

main{
   border-radius: 15px ;
   border: 2px solid rgb(4, 120, 124);
    width: 400px;
    height: 500px;
   margin-top: 50px;
   margin-left: 100px;
    background-color: white;
    color: black;
    position: relative;
   }
   h2{
    color: rgb(4, 0, 255);
   }
   .name1{
    
    position: absolute;
    margin-left: 65px;
    top: 80px;
      
   }
   .text1{
    position: absolute;
    top: 80px;
    margin-left: 150px;
    border: 2px solid gray;
    border-radius: 5px;
   }
   .name2{
   
    position: absolute;
    margin-left: 20px;
    top: 120px;
      
   }
   .text2{
    position: absolute;
    top: 120px;
    margin-left: 150px;
    border: 2px solid gray;
    border-radius: 5px;
   }
 
   .button-flame{
    position: absolute;
    top: 180px;
    margin-left: 100px;
    background-color: rgb(2, 153, 153);
    border: 2px solid white;
    border-radius: 5px;
   }
   .restart{
    position: absolute;
    top: 180px;
    margin-left: 250px;
    border-radius: 5px;
    background-color:rgb(8, 168, 2);
    border: 2px solid white;
   }
   .result{
    position: absolute;
    top: 250px;
    left: 90px;
   color: rgb(237, 9, 245);
   }
.comment{
    position: absolute;
    text-indent: 10px;
    top: 320px;
    left: 90px;
    color: rgb(10, 10, 10);
}
.button-flame:hover{
    box-shadow: 5px 5px  rgb(20, 197, 241);
    background-color:rgb(20, 197, 241) ;
    
}
.restart:hover{
    box-shadow:5px 5px rgb(17, 241, 9);
    background-color: rgb(17, 241, 9);
    

}
.result-head{
    color: red;
}
